/*
CSS: element, id, class
selector{
	property:value;
	
}
*/


body{
	background-color;
}
body {
    background-image: url("https://cloud.githubusercontent.com/assets/15823622/11666087/aab5e8ce-9db8-11e5-8914-e079158ead54.jpg");
    background-repeat:repeat;
}

h1{
	text-align:center;
}


.preview-image{
	float:left;
	width:400px;
	height:400px;
}
