/*
CSS: element, id, class

selector{
	property:value;
	
}
*/

body{
	background-image: url("wild_flowers.png");
}


h1{
	text-decoration:underline
}
.preview{
	display:inline-block;
	width:100px;
	height:100px;
}
.preview-image{
	width:100px;
	height:100px;
}
