/*
CSS: element, id, class

selector{
	property:value;
	
}
*/


body{
	background-color;
}
body {
    background-image: url("https://cloud.githubusercontent.com/assets/15823622/11262458/79c4c002-8e4d-11e5-87df-767e86b1ed6c.jpg");
    background-repeat:repeat;
}

h1{
	text-align:center;
}
.img-circle {
    border-radius: 50%;
}
.preview{
	display:inline-block;
	width:400px;
	height:400px;
}
.preview-image{
	width:400px;
	height:400px;
}
.container{
	text-align:center;
	width:100%;
}
