/*
CSS: element, id, class

selector{
	property:value;
	
}
*/


body{
	background-color;
}
body {
    background-image: url("https://cloud.githubusercontent.com/assets/15823622/11233118/687cb824-8d88-11e5-88b0-22745bed88b0.jpg");
    background-repeat:repeat;
}

h1{
	text-align:center;
}
.img-circle {
    border-radius: 50%;
}
.preview{
	display:inline-block;
	width:400px;
	height:400px;
}
.preview-image{
	width:400px;
	height:400px;
}
.container{
	text-align:center;
	width:100%;
}
